body {
  background: #3f5666; }
  body a {
    text-decoration: none; }
  body .wrapper {
    width: 600px;
    margin: 0 auto;
    font-size: 20px; }
    body .wrapper .group-title {
      color: #ea6045;
      background: #2f3440;
      width: 200px;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px; }
    body .wrapper .group-content {
      color: #f8ca4d;
      padding: 10px;
      background: #2f3440;
      width: 200px;
      border-radius: 4px; }
      body .wrapper .group-content label {
        display: inline-block;
        width: 70px; }
      body .wrapper .group-content input {
        width: 119px; }
      body .wrapper .group-content .subtotal {
        display: block;
        text-align: right;
        font-size: 14px; }

.btn {
  padding: 4px;
  background: #f5e5c0;
  color: #2f3440;
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  width: 66.66667px;
  text-align: center; }

.btn-hover {
  background: #ea6045; }

.latent {
  display: none; }
