// Colors

$orange: #EA6045;
$yellow: #F8CA4D;
$light: #F5E5C0;
$lightblue: #3F5666;
$darkblue: #2F3440;
$white: #ffffff;

// Border-radius
$vert: top;
$horz: left;
$radius: 2px;

// Margin
$m-auto: 0 auto;

// Width/Height
$wh-2: 200px;
$wh-4: 400px;
$wh-6: 600px;
$wh-8: 800px;

// Padding/Margin
$pm-2: 2px;
$pm-4: 4px;
$pm-6: 6px;
$pm-8: 8px;

body {
    background: $lightblue;

    a {
        text-decoration: none;
    }
    .wrapper {
        width: 600px;
        margin: $m-auto;
        font-size: 20px;

        .group-title {
            color: $orange;
            background: $darkblue;
            width: $wh-2;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: $radius * 4;
        }

        .group-content {
            color: $yellow;
            padding: 10px;
            background: $darkblue;
            width: $wh-2;
            border-radius: $radius * 2;

            label {
                display: inline-block;
                width: 70px;
            }

            input {
                width: $wh-2 / 2;
            }
        }
    }
}

.button {
    display: block;
    color: $darkblue;
    background: $light;
    padding: $pm-2 * 3;
    width: $wh-2 / 2;
    border-radius: $radius * 4;
    text-align: center;
    margin-top: $pm-2 * 10;
}

.button-hover {
    background: $white;
    color: $darkblue;
}