.l-one {
  background: #ea6045;
  padding: 50px;
  text-align: center;
  font-size: 25px; }
  .l-one .l-two {
    background: #2f3440;
    color: #f5e5c0;
    padding: 40px; }
    .l-one .l-two .l-three {
      background: #f5e5c0;
      color: #2f3440;
      padding: 30px; }
