$orange: #EA6045;
$blue: #2F3440;
$light: #F5E5C0;

.carousel {
    // width: 800px;
    margin: 20% auto 0;
    // overflow: hidden;

    .left, .right {
        width: 20px;
        height: 50px;
        background: $blue;
        cursor: pointer;
    }

    .content ul {
        list-style: none;
        // overflow: hidden;

        li {
            float: left;
        }
    }
}