.search-result {
  position: absolute;
  background: #eeeeee;
  padding: 20px; }
  .search-result .search-item {
    border-radius: 5%;
    min-height: 100px;
    margin: 0 0 10px 0;
    opacity: 1;
    z-index: 1; }
    .search-result .search-item img {
      border-radius: 10px; }
      .search-result .search-item img:hover, .search-result .search-item img:focus {
        -webkit-transform: scale(0.98, 0.98);
        z-index: 2;
        opacity: 0.8; }
